body{color: #000000; background-color: #FFFFCC;}
.wrapper{color: #000000; background-color: #CCFF99;}
.content{color: #000000; background-color: #CCFF99;}
#heading{color: #FFFFFF; background-color: #339900;}
#heading2{color: #FFFFFF; background-color: #339900;}
#title{color: #FFFFFF; background-color: #009900;}